/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2015, 2:15:38 PM
    Author     : Ronak kosamia
*/

body {
    font-family: Arial, sans-serif;
    font-size: smaller;
    padding: 80px;
    color: #555;
}

h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 550px;
}

table {
    width: 780px;
    padding: 15px;
    background-color: antiquewhite;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 12px;
}

a:link {
   color: #be7429;
   font-weight: normal;
   text-decoration: none;
}

a:link:hover {
   color: blueviolet;
   font-weight: bold;
   text-decoration: underline;
}